.feed-sidebar-top-main-container {
  font-size: 12px;
  border: solid gray;
  border-width: 0.1px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.connections-row {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: solid gray;
  border-bottom: solid gray;
  border-width: 0.1px;
}
.grow-your-network-text {
  font-weight: 600;
}
.connections-text {
  font-weight: 200;
}
.access-exclusive-row {
  padding-top: 16px;
  padding-bottom: 16px;
}
.my-items-row {
  padding-bottom: 16px;
}

.feed-sidebar-top-main-container Image {
  height: 200px;
  width: 200px;
}
.rounded-profile-image {
  height: 85px;
  width: 85px;
  position: absolute;
  left: 98px;
  top: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.space-for-image {
  margin-top: 60px;
}
.feed-sidebar-top-main-container .main-name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.feed-sidebar-top-main-container .bordered-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
