.feed-post-main-container {
  border-radius: 15px;
  margin-top: 10px;
  background-color: white;
}

.feed-post-main-container .profile-image {
  border-radius: 50%;
}
.feed-post-main-container .top-row {
  padding-top: 15px;
}
.feed-post-main-container .small-text-size {
  font-size: 12px;
}
.feed-post-main-container .big-text-size {
  font-size: 14px;
}
.feed-post-main-container .flex-icons {
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.feed-post-main-container .bottom-row .hover-1:hover {
  background-color: rgb(188, 189, 190);
  cursor: pointer;
  border-bottom-left-radius: 15px;
}
.feed-post-main-container .bottom-row .hover-2:hover {
  background-color: rgb(188, 189, 190);
  cursor: pointer;
}
.feed-post-main-container .bottom-row .hover-3:hover {
  background-color: rgb(188, 189, 190);
  cursor: pointer;
}
.feed-post-main-container .bottom-row .hover-4:hover {
  background-color: rgb(188, 189, 190);
  cursor: pointer;
  border-bottom-right-radius: 15px;
}
.feed-post-main-container .hr-line {
  margin-top: 5px;
  margin-bottom: 5px;
}
.padding-for-middle-row {
  padding-left: 18px;
}
.bi-three-dots {
  font-size: 24px;
}
.feed-post-main-container .text-row {
  padding-top: 8px;
}
.bi-hand-thumbs-up {
  color: #0a66c2;
}
.bi-balloon-heart {
  color: #538444;
}
.bi-chat-right-quote {
  color: #851a1a;
}
.post-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
