.sidebar-extra-text {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.sidebar-extra-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar-main-row {
  background-color: white;
  color: rgb(25, 25, 25);
  border: solid #ebebeb;
  border-width: 0.1px;
  border-radius: 15px;
  margin-top: 10px;
  /* padding: 5px; */
}
.border-row {
  border-bottom: solid #ebebeb;
  padding-bottom: 10px;
  border-width: 0.1px;
}
.see-all-questions-row {
  border-top: solid #ebebeb;
  margin-top: 10px;
  border-width: 0.1px;
}
.see-all-questions-text {
  margin-top: -10px;
}
.see-all-questions-row:hover {
  cursor: pointer;
  background-color: #ebebeb;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.bi-linkedin {
  color: #0072b1;
  margin-right: 6px;
}
.some-more-about-you-text {
  font-size: 14px;
}
