.see-more-row {
  border-top: solid rgb(224, 223, 220);
  border-width: 0.3px;
  margin-top: 5px;
}
.sidebar-heading {
  font-weight: 400;
}
.sidebar-container {
  border: solid rgb(224, 223, 220);
  border-radius: 10px;
  border-width: 0.1px;
  margin-top: 8px;
  background-color: white;
  color: rgb(102, 102, 102);
}
.see-more-row:hover {
  cursor: pointer;
  background-color: rgb(224, 223, 220);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
