@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


.outer-container-top {   
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.outer-lower-container {
    display: flex;
}


.education-logo {
    width: 35px;
    object-fit: cover;
}

.text-next-to-logo { 
    margin-left: 20px;
}

.header-text {
    margin-bottom: 0;
    text-align: left;
}

.text-under-header {
    margin-bottom: 0;
    text-align: left;
}

.year-text {
    font-size: 0.9em;
    font-family: monospace;
    text-align: left;
}

.icons {
    font-size: 1.3em;
}

.plus-icon {
    padding-right: 40px;
}