.App {
  text-align: center;
}

.full-blue-btn {
  background-color: rgb(10, 102, 194) !important;
  font-weight: 600 !important;
  max-height: 2.4rem;
}
.full-blue-btn:hover {
  background-color: rgb(8, 83, 157) !important;
  font-weight: 600 !important;
}

.blue-border-btn {
  /* border: 2px solid rgb(10, 102, 194) !important; */
  outline: 1px solid rgb(10, 102, 194);
  font-weight: 600 !important;
  color: rgb(10, 102, 194) !important;
  max-height: 2.4rem;
}
.blue-border-btn:hover {
  outline: 2px solid rgb(10, 102, 194);
  background-color: rgb(218, 237, 255) !important;
}
.gray-border-btn {
  outline: 1px solid rgb(164, 164, 164);
  font-weight: 600 !important;
  color: rgb(164, 164, 164) !important;
  max-height: 2.4rem;
}
.gray-border-btn:hover {
  outline: 2px solid rgb(164, 164, 164);
  background-color: rgb(239, 239, 239) !important;
}
.links {
  color: rgb(10, 102, 194);
  font-weight: 500;
}
